#home {
    margin: auto;
    margin-top: 0;
    min-width: 100%;;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#welcomeImg, #artistStatement {
    width: 80%;
    margin: auto;
}

#artistStatement {
    margin: 30px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#homeImgs {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-auto-rows: auto;
    justify-content: center;
    gap: 10px;
    
}

.imgContainer {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.vert{
    grid-row: span 2;
    width: 100%;
    height: 100%;
}
.horz{
    width: 100%;
    height: 50%;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.imgDesc{
    bottom: 0;
    background: rgba(255, 255, 255, 0.529);
    position: absolute;
    padding: 5%;
    width: 50%;
    display: none;
}

.img:hover + .imgDesc,
.imgDesc:hover{display: block;}


.imgTitle {
    margin: 7px 0;
}

.imgDescription {
    margin: 0;
}

/* @media screen and (max-width: 450px) {
    #homeImgs {
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    }
} */